<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">الماس رویان</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link"  href= '{% url "almasroyan:index" %}'>خانه</a> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= "{% url 'almasroyan:contact' %}"> تماس با ما </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href= "/list" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            محصولات
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/almasroyan/list">آرت</a>
            <a class="dropdown-item" href="#">استیل</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">آرتین</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
          <a href="{% url 'logout' %}"><button class="btn btn-outline-info" style="margin-right:8px;">sign out</button></a>
      {% else %}
          <a href="{% url 'login' %}"><button class="btn btn-info" style="margin-right:8px;">sign in</button></a>
          <a href="#"><button class="btn btn-outline-info">Sign Up</button></a>
      {% endif %}        
    </div>
  </nav>